{% load static %}
<div class="row featurette" id="cutting-edge-technology">
  <div class="col-md-7">
    <h2 class="featurette-heading">Uso de Inteligência Artificial. <span class="text-muted">Eficácia e confiabilidade na
        contagem de suínos.</span></h2>
    <p class="lead">Um sistema inovador que analisa mais de 300 parâmetros diferentes para identificar de forma precisa cada suíno. Dessa forma, o sistema é capaz de rastrear cada suíno que passa e criar um código de identificação específico para cada animal. Além disso, o usuário consegue ter um relatório em suas mãos com a quantidade de porcos contados e o tempo que levou. 
    </p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px"
      height="500px" style="object-fit: contain" src="{% static 'img/pig.gif' %}">
  </div>
</div>