{% load static %}
<div class="row featurette" id="safety">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Segurança na Produção. <span class="text-muted">Tenha o controle do que entra e sai.</span></h2>
    <p class="lead">Com o ComPig, a automatização na contagem de animais chegou! E com ela o fim dos erros de contagem. Além de fornecer toda uma segurança ao produtor, o equipamento oferece comodidade e praticidade.  Pois para realizar a contagem e obter um relatório da quantidade de animais e o tempo que tomou, basta que o usuário acesse o nosso aplicativo.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px"
      height="500px" style="object-fit: contain" src="{% static 'img/pig-2.jpg' %}">
  </div>
</div>