{% load static %}
<div class="row featurette" id="compactness">
    <div class="col-md-7">
      
      <h2 class="featurette-heading">Compactidade.<span class="text-muted"> Segurança sem ocupar espaço.</span></h2>
      <p class="lead">Um sistema eficaz e que ocupa pouco espaço. O produtor que obter o produto não precisa gastar com nenhuma grande infraestrutura pois o equipamento é compacto e simples de ser instalado. Dessa forma, não há grande despesas com infraestrutura.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px"
      height="500px" style="object-fit: contain" src="{% static 'img/case.png' %}">

    </div>
  </div>