<html lang="pt-br">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		.whatsapp-link {
			position: fixed;
			width: 60px;
			height: 60px;
			bottom: 30px;
			right: 20px;
			background-color: #25d366;
			color: #fff;
			border-radius: 50px;
			text-align: center;
			font-size: 30px;
			box-shadow: 1px 1px 2px #888;
			z-index: 1000;
		}
 
		.fa-whatsapp {
			margin-top: 16px;
		}
	</style>

<body>
	<a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=5511982281647" target="_blank">
		<i class="fa fa-whatsapp"></i>
	</a>
</body>
</html>